$color-header: #82b3c9
$color-page: #b3e5fc
$color-primary: #4fc3f7
$color-secondary: #52c7b8
$color-active: #00675b

$color-font: #2c3e50
$color-font-active: #e5ffff
$color-placeholder: #3f3f41
$color-white: #fff
$color-black: #222f3e

$color-error: #ee2c2c
$color-success: #98ee99
$color-input: #dee2e6
