@import "~theme/common-styles"

.Page
  background-color: $color-page
  height: calc(100vh - 10rem)
  display: flex
  &.centered
    justify-content: center
    align-items: center
  &__welcome
    background-color: $color-primary
    border: 1px solid $color-black
    color: $color-white
    padding: 0 10rem
  &__header
    margin-top: 2rem
    margin-bottom: 5rem
