@import "~theme/common-styles"

.Header
  background-color: $color-header
  height: 10rem
  padding: 4rem 2rem 2rem 1rem
  display: flex
  justify-content: space-between
  align-items: flex-start
  &__title
    text-transform: uppercase
    padding: 1rem 14rem
    margin-right: 4rem
  &__link
    padding: .4rem 7rem
  a
    border: 1px solid $color-black
    background-color: $color-secondary
    font-weight: bold
    color: $color-black
    &:hover, &.router-link-exact-active
      border: 1px solid $color-font-active
      background-color: $color-active
      color: $color-font-active
