.Header
  background-color: dodgerblue
  padding: 4rem 3rem 3rem 1rem
  display: flex
  justify-content: space-between
  align-items: flex-start
  &__title
    text-transform: uppercase
    border: 1px solid white
    padding: 1rem 14rem
    margin-right: 4rem
  &__link
    border: 1px solid white
    padding: .4rem 7rem
  a
    background-color: mediumaquamarine
    font-weight: bold
    color: white
    &.router-link-exact-active
      background-color: paleturquoise
      color: dodgerblue
